@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
         <span class="oi oi-person" aria-hidden="true"></span> &nbsp;&nbsp;Autor: Damian Romanowski
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
